table{
    border: 2px solid black;
    width: 100%;
}
th,td{
    padding: 10px;
}

th{
    background-color: rgb(120, 81, 120);
    color: white;
}

td{
    text-align: center;
    background-color: #bde0fe;
}

.btn-speak{
    display: block;
    margin: 20px auto 0px;
    border: 0px;
    background-color: rgb(120, 81, 120);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.btn-speak:hover{
    background-color: rgb(126, 41, 126);
}

.btn-speak:active{
    background-color: purple;
}