<table>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr *ngFor="let row of rows">
        <div class="form-group">
        <form class="form-group">
            <td>
                <select class="form-control" (change)="onSelectedProduct($event)">
                    <option selected disabled value="">Choose a product</option>
                    <option *ngFor="let p of products" [value]="p">{{p}}</option>
                </select>
            </td>
            <td>
                <select class="form-control" (change)="onSelectedQuantity($event)">
                    <option selected disabled value="">Choose quantity</option>
                    <option *ngFor="let q of quantity" [value]="q">{{q}}</option>
                </select>
            </td>
            <td>
                <button id={{row.id}} (click)="Add(row)">Add</button>
            </td>
        </form>
    </div>
    </tr>
</table>
<button (click)="showTable()">Show Table</button>
<div *ngIf="show">
<app-show-table [productList]="rows"></app-show-table>
</div>
