<table>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr *ngFor="let row of rows">
            <td>
                <select class="form-control" (change)="onSelectedProduct($event)">
                    <option selected disabled value="">Choose a product</option>
                    <option *ngFor="let p of getAvailableOptions(row.id)" [value]="p">{{p}}</option>
                </select>
            </td>
            <td>
                <select class="form-control" (change)="onSelectedQuantity($event)">
                    <option selected disabled value="">Choose quantity</option>
                    <option *ngFor="let q of quantity" [value]="q">{{q}}</option>
                </select>
            </td>
            <td>
                <button id={{row.id}} class="btn-add" (click)="Add(row)">ADD</button>
            </td>
    </tr>
</table>
<button class="btn-show-table" (click)="showTable()">Show Order</button>
<div class="show-table-container" *ngIf="show">
<app-show-table [productList]="rows"></app-show-table>
</div>
